<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<meta charset="utf8">
	<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">
	<div class="row">
		<!-- Vista Listado -->
		<div class="col-md-8" ng-controller="librosListadoControlador as ctrlListado">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1>Listado de libros</h1>	
				</div>
				<div class="panel-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Título</th>
								<th>Autor</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody>
						<!-- Listado de libros -->
							<tr ng-repeat="libro in ctrlListado.libros">
								<td>{{libro.titulo}}</td>
								<td>{{libro.autor}}</td>
								<td>
								<a href class="btn btn-success" ng-click="ctrlListado.edicion(libro)">Edición</a>
								</td>
							</tr>
						<!-- Fin -->	
						</tbody>
					</table>
				</div>
			</div>
			<div ng-show="ctrlListado.estaCargando" style="position:relative;margin-top:180px">
				<span us-spinner="{radius:30, width:8, length: 16}"></span>
				<p style="text-align:center;padding-top:120px">Cargando ...</p>
			</div>			
		</div>

		<!-- Fin Vista Listado -->

		<!-- Vista Edición -->
		<div class="col-md-4" ng-controller="librosEdicionControlador as ctrlEdicion">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1>Edición</h1>
				</div>
				<div class="panel-body">
					<form name="formularioLibro" ng-submit="formularioLibro.$valid && ctrlEdicion.actualizar()" novalidate>
						<div class="form-group">
							<label>Título</label>
							<input type="text" ng-model="ctrlEdicion.libroAEditar.titulo" required class="form-control" />
						</div>
						<div class="form-group">
							<label>Autor</label>
							<input type="text" ng-model="ctrlEdicion.libroAEditar.autor" required class="form-control" />
						</div>
						<div class="form-group">
							<label>ISBN</label>
							<input type="text" ng-model="ctrlEdicion.libroAEditar.isbn" required class="form-control" />
						</div>	
						<div class="form-group">
							<button type="submit" class="btn btn-success">Actualizar</button>
							<button class="btn btn-danger pull-right" ng-click="ctrlEdicion.eliminar()">Eliminar</button>
						</div>											
					</form>
				</div>
			</div>
		</div>
		<!-- Fin Vista Edición -->

		<!-- Vista Nuevo -->
		<div class="col-md-4 pull-right" ng-controller="librosNuevoControlador as ctrlNuevo">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1>Nuevo</h1>
				</div>
				<div class="panel-body">
					<form name="formularioLibroNuevo" ng-submit="formularioLibroNuevo.$valid && ctrlNuevo.grabar()" novalidate>
						<div class="form-group">
							<label>Título</label>
							<input type="text" ng-model="ctrlNuevo.libroNuevo.titulo" required class="form-control" />
						</div>
						<div class="form-group">
							<label>Autor</label>
							<input type="text" ng-model="ctrlNuevo.libroNuevo.autor" required class="form-control" />
						</div>
						<div class="form-group">
							<label>ISBN</label>
							<input type="text" ng-model="ctrlNuevo.libroNuevo.isbn" required class="form-control" />
						</div>	
						<div class="form-group">
							<button type="submit" class="btn btn-success">Grabar</button>
							</div>											
					</form>
				</div>
			</div>
		</div>
		<!-- Fin Vista Nuevo -->


	</div>
</div>


<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/spin.js/spin.js"></script>
<script src="/bower_components/angular-spinner/angular-spinner.js"></script>
<script src="/01-http-v2/js/app.js"></script>
<script src="/01-http-v2/js/controladores.js"></script>
<script src="/01-http-v2/js/factorias.js"></script>
<script src="/01-http-v2/js/servicios.js"></script>

</body>
</html>