<!DOCTYPE html>
<html ng-app>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-init="telefono='999-131-171'; casa='460-5991'">
<pre>{{ "Clase 01 de Angular" }}</pre>
<pre>{{ 2 + 5  }}</pre>
<pre>Celular: {{ telefono }} Casa: {{casa}}</pre>

<input type="text" ng-model="telefono">
<br>
<input type="text" ng-model="telefono">

	<script src="bower_components/angular/angular.min.js"></script>

</body>
</html>